<div class="container">
  <div class="payslip">
      <div class="payslip-card">
      <div class="row_wrap">
                            <h5 class="sub_heads">Search For Payment (Services)</h5>
                            <div class="row">
                                <div class="col-md-2 col-xs-5 gap"><label>From Date</label></div>
                                <div class="col-md-4 col-xs-7 gap"> <input type="text" class="form-control input-sm datepickers" value="" ></div>
                                <div class="col-md-2 col-xs-5 gap"><label>To Date </label></div>
                                <div class="col-md-4 col-xs-7 gap"><input type="text" class="form-control input-sm datepickers" value="" ></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-5 gap"><label>PO Number</label></div>
                                <div class="col-md-4 col-xs-7 gap"><input type="text" class="form-control input-sm" value="M1731122" ></div>
                                <div class="col-md-2 col-xs-5 gap"><label>Invoice Number</label> </div>
                                <div class="col-md-4 col-xs-7 gap"><input type="text" class="form-control input-sm" value="" ></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-5 gap"><label>Vendor Name</label></div>
                                <div class="col-md-4 col-xs-7 gap"><input type="text" class="form-control input-sm" value="" ></div>
                                 <div class="col-md-2 col-xs-5 gap"><label>Project No</label></div>
                                <div class="col-md-4 col-xs-7 gap"><input type="text" class="form-control input-sm" value="" ></div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xs-5 gap">Status</div>
                                <div class="col-md-4 col-xs-7 gap">
                                    <label class="radio-inline"><input type="radio" name="optradio">Pending</label>
                                    <label class="radio-inline"><input type="radio" name="optradio">Paid</label>
                                </div>
                            </div>                            
                                <form class="form-inline pull-right hidden-xs hidden-sm ng-pristine mg-bt">
                                    <span class="fr">
                                    <a href="javascript:;" title="Search" class="btn btn-primary">Search</a>
                                    <a href="javascript:;" title="Clear" class="btn btn-primary">Clear</a>
                                    <a href="javascript:;" title="Payment Initialize" class="btn btn-primary">Payment Initialize</a>
                                    <a href="javascript:;" title="Refresh For Payment" class="btn btn-primary">Refresh For Payment</a>
                                    </span>
                                  </form>
                            <h5 class="sub_heads mg-tp">Received Bill Details <a href="javascript:;" class="applybtn fR" title="Download" href="#!/leave-dashboard">Download</a></h5>
                            <div class="row">
                                <div class="col-md-12">
                                      <table class="table table-bordered table-condensed1">
                                        <thead>
                                          <tr>
                                            <th>Sr.No.</th>
                                            <th>PO Number</th>
                                            <th>Project No</th>
                                            <th>Vendor Name</th>                                                                                                                                                                               
                                            <th>Invoice Date</th>                                                                                                                                                                               
                                            <th>Invoice Number</th> 
                                            <th>Received Date</th> 
                                            <th>Invoice Amount</th>                                                                                                                                                                               
                                            <th>Bill Amount</th>                                                                                                                                                                                                                                                                      
                                            <th>Invoice Status</th>                                                                                                                                                                               
                                            <th>Remarks</th>                                                                                        
                                            <th>Send</th>                                                                                        
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>M1731122</td>
                                            <td>S153102MPBR</td>
                                            <td>E Centric Solutions P Ltd</td>
                                            <td>24-OCT-2017</td>
                                            <td>EC/D/17-18/20</td>
                                            <td>07-OCT-2017</td>
                                            <td class="text-right">590</td>                                                                                                                                    
                                            <td>Jun-2017</td>
                                            <td>Send For Provision Through Scrutiny</td>
                                            <td><input type="text" class="form-control input-sm" value="" ></td>
                                            <td class="text-center"><input type="checkbox" checked class=""></td>
                                          </tr>
                                          <tr>
                                            <td>2</td>
                                            <td>M1731122</td>
                                            <td>S153102MPBR</td>
                                            <td>E Centric Solutions P Ltd</td>
                                            <td>24-OCT-2017</td>
                                            <td>EC/D/17-18/20</td>
                                            <td>07-OCT-2017</td>
                                            <td class="text-right">590</td>                                                                                                                                    
                                            <td>Jun-2017</td>
                                            <td>Send For Provision Through Scrutiny</td>
                                            <td><input type="text" class="form-control input-sm" value="" ></td>
                                            <td class="text-center"><input type="checkbox" checked class=""></td>
                                          </tr>
                                          <tr>
                                            <td>3</td>
                                            <td>M1731122</td>
                                            <td>S153102MPBR</td>
                                            <td>E Centric Solutions P Ltd</td>
                                            <td>24-OCT-2017</td>
                                            <td>EC/D/17-18/20</td>
                                            <td>07-OCT-2017</td>
                                            <td class="text-right">590</td>                                                                                                                                    
                                            <td>Jun-2017</td>
                                            <td>Send For Provision Through Scrutiny</td>
                                            <td><input type="text" class="form-control input-sm" value="" ></td>
                                            <td class="text-center"><input type="checkbox" checked class=""></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    <ul class="pagination pull-left">
                                      <li class="active"><a href="#">1</a></li>
                                      <li ><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                    </ul>
                                </div>
                            </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
