<div class="container">
  <div class="payslip">
    <div class="payslip-card">        
      <div class="row_wrap">
        <h5 class="sub_heads">Leave of Absence for Sangare, Rohit          
            <form class="form-inline pull-right hidden-xs hidden-sm">
                            <a href="javascript:;" title="Approve" class="applybtn"> Approve</a>
                            <a href="javascript:;" title="Reject" class="applybtn"> Reject</a>
            </form>
        </h5>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed1 table-responsive">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Attachment</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>From</td>
                      <td>Sangare, Rohit</td>
                      <td></td>                    
                    </tr>
                    <tr>
                      <td>To</td>
                      <td>Gavande, Umesh</td>
                      <td></td>                    
                    </tr>
                    <tr>
                      <td>Sent</td>
                      <td>24-Oct-2017 14:32:21</td>
                      <td></td>                    
                    </tr>
                    <tr>
                      <td>Due</td>
                      <td>24-Oct-2017 14:32:21</td>
                      <td></td>                    
                    </tr>
                    <tr>
                      <td>Id</td>
                      <td>53384</td>
                      <td></td>                    
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-xs-5 gap">Employee Name</div>
          <div class="col-md-4 col-xs-7 gap"><strong>Sangare, Rohit</strong></div>
          <div class="col-md-2 col-xs-5 gap">Employee Number</div>
          <div class="col-md-4 col-xs-7 gap"><strong>LC002</strong></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-xs-5 gap">Organization Name</div>
          <div class="col-md-4 col-xs-7 gap"><strong>MSRTC</strong></div>
          <div class="col-md-2 col-xs-5 gap">Grade</div>
          <div class="col-md-4 col-xs-7 gap"><strong>W5</strong></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-xs-5 gap">Designation</div>
          <div class="col-md-4 col-xs-7 gap"><strong>Deputy Accountant</strong></div>
          <div class="col-md-2 col-xs-5 gap">Department</div>
          <div class="col-md-4 col-xs-7 gap"><strong>Finance</strong></div>
        </div>
      </div>
    </div>

      <!--start of absence Details-->
      <div class="payslip-card">
      <div class="row_wrap">
        <h5 class="sub_heads">Absence Details</h5>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed1">
                  <thead>
                    <tr>
                      <th>Details</th>
                      <th>Proposed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Absence Status</td>
                      <td>Confirmed</td>
                    </tr>
                    <tr>
                      <td>Absence Type</td>
                      <td>Earned Leave(EL)</td>
                    </tr>
                    <tr>
                      <td>Absence Reason</td>
                      <td>Marriage in Family</td>
                    </tr>
                    <tr>
                      <td>Start Date</td>
                      <td>26-Oct-2017</td>
                    </tr>
                    <tr>
                      <td>End Date</td>
                      <td>27-Oct-2017</td>
                    </tr>
                    <tr>
                      <td>Days</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>Comments</td>
                      <td>Marriage in Family, Please approve this Leave.</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
     
      <!--balance entitlement-->
      <!--supporting documents-->
    <div class="payslip-card">
      <div class="row_wrap">
        <h5 class="sub_heads">View Entitlement Balances </h5>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:;" target="_blank" title="View Entitlement Balances" class="btn btn-primary whiteTxt guppercase filterbtn"> View Entitlement Balances</a>
            </div>
        </div>
      </div>
    </div>
      
      
      
      <!--supporting documents-->
    <div class="payslip-card">
      <div class="row_wrap">
          <h5 class="sub_heads">Supporting Documents <span class="fr"><a href="javascript:void(0)" class="fa fa-arrows-alt" title=""></a>&nbsp;&nbsp; <a href="javascript:void(0)" class="fa fa-refresh" title=""></a></span></h5>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed1 table-responsive">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Attachment Category</th>
                      <th>Last Modified By</th>
                      <th>Last Modified Date</th>
                      <th>Repository</th>
                      <th>Details</th>
                      <th>Detach</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>No Data Exist</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
      <!--end of supporting dcuments-->
      <!--start of approvers-->
      <!--supporting documents-->
    <div class="payslip-card">
      <div class="row_wrap">
        <h5 class="sub_heads">Action History <span class="fr"><a href="javascript:void(0)" class="fa fa-arrows-alt" title=""></a>&nbsp;&nbsp; <a href="javascript:void(0)" class="fa fa-refresh" title=""></a>&nbsp;&nbsp; <a href="javascript:void(0)" class="fa fa-cog" title=""></a>&nbsp;&nbsp;<a href="javascript:void(0)" class="fa fa-caret-square-o-down" title=""></a></span></h5>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed1 table-responsive">
                  <thead>
                    <tr>
                      <th class="text-center">Sequence</th>
                      <th>Name</th>
                      <th>Action</th>
                      <th>Date</th>
                      <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">1</td>
                      <td>Sangare, Rohit</td>
                      <td>Submit</td>
                      <td>24-Oct-2017 14:32:15</td>
                      <td></td>                     
                    </tr>
                    <tr>
                      <td class="text-center">1</td>
                      <td>Gavande, Umesh</td>
                      <td>Pending</td>
                      <td></td>
                      <td></td>                     
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
      <!--end of approvers-->
       <!--start of comments-->
    <div class="payslip-card">
      <div class="row_wrap">
        <h5 class="sub_heads">Response</h5>
        <div class="row">
            <div class="col-md-12 gap">
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
      </div>
    </div>
      
      <!--end of comments-->
    <!--end of supporting documents-->
    <a href="javascript:;" target="_blank" title="Return to Worklist" class="btn btn-primary whiteTxt guppercase filterbtn mg-bt"> Return to Worklist</a>
  </div>
</div>
<script>
    jQuery('#leavedate').datepicker({
              format: "dd/mm/yyyy",
              autoclose: true
            });
</script>
</body>
</html>
